<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>个人注册</title>


    <!--STYLESHEET-->
    <!--=================================================-->

    <!--Open Sans Font [ OPTIONAL ] -->
{#     <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin" rel="stylesheet">#}


    <!--Bootstrap Stylesheet [ REQUIRED ]-->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">


    <!--Nifty Stylesheet [ REQUIRED ]-->
    <link href="/static/css/nifty.min.css" rel="stylesheet">


    <!--Themify Icons [ OPTIONAL ]-->
    <link href="/static/themify-icons/themify-icons.min.css" rel="stylesheet">

    
    <!--Magic Checkbox [ OPTIONAL ]-->
    <link href="/static/plugins/magic-check/css/magic-check.min.css" rel="stylesheet">

    
    <!--JAVASCRIPT-->
    <!--=================================================-->

    <!--Page Load Progress Bar [ OPTIONAL ]-->
    <link href="/static/css/pace.min.css" rel="stylesheet">
    <script src="/static/js/pace.min.js"></script>


    <!--jQuery [ REQUIRED ]-->
    <script src="/static/js/jquery-2.2.4.min.js"></script>


    <!--BootstrapJS [ RECOMMENDED ]-->
    <script src="/static/js/bootstrap.min.js"></script>

    
    <!--Nifty Admin [ RECOMMENDED ]-->
    <script src="/static/js/nifty.min.js"></script>

    
    <!--=================================================

    REQUIRED
    You must include this in your project.


    RECOMMENDED
    This category must be included but you may modify which plugins or components which should be included in your project.


    OPTIONAL
    Optional plugins. You may choose whether to include it in your project or not.


    Detailed information and more samples can be found in the document.

    =================================================-->
        



    <!-- Create your own class to load custum image [ SAMPLE ]-->
    <style>
        .demo-my-bg{
            background-image : url("static/img/balloon.jpg");
        }
    </style>


    
</head>

<!--TIPS-->
<!--You may remove all ID or Class names which contain "demo-", they are only used for demonstration. -->

<body>
    <div id="container" class="cls-container">
        
		<!-- BACKGROUND IMAGE -->
		<!--===================================================-->
		<div id="bg-overlay" class="bg-img" style="background-image: url(/static/img/bg-img-3.jpg)"></div>
		
		
		<!-- LOGIN FORM -->
		<!--===================================================-->
		<div class="cls-content">
		    <div class="cls-content-sm panel">
		        <div class="panel-body">
		            <div class="mar-ver pad-btm">
		                <h3 class="h4 mar-no">账户注册</h3>
		                <p class="text-muted">填写用户注册信息</p>
		            </div>
		            <form action="" method="post">
                        {% csrf_token %}
		                <div class="form-group">
		                    <input type="text" name="username" class="form-control" placeholder="用户名" autofocus required="required">
		                </div>
		                <div class="form-group">
		                    <input type="password" name="password" class="form-control" placeholder="设置密码"  required="required">
		                </div>
                        <div class="form-group">
		                    <input type="password" name="password2" class="form-control" placeholder="确认密码" required="required">
		                </div>
                        <div class="form-group">
		                    <input type="text" id="email" name="email" class="form-control" placeholder="邮箱验证" autofocus required="required">
		                </div>
                        <div class="form-group">
		                    <input type="text" name="email_code" class="form-control" placeholder="邮箱验证码" autofocus required="required">
		                </div>
                        <div class="fomr-group">
                            <button class="form-control" id="email_code_submit">获取验证码</button>
                        </div>
		                <div class="checkbox pad-btm text-left">
		                    <input id="demo-form-checkbox"  class="magic-checkbox" type="checkbox">
		                    <label for="demo-form-checkbox">记住我</label>
		                </div>
		                <button class="btn btn-primary btn-lg btn-block" type="submit">注册</button>
		            </form>
		        </div>
		
		        <div class="pad-all">
		            <a href={% url "login" %} class="btn-link mar-lft">登录账号</a>
		
		            <div class="media pad-top bord-top">
		                <div class="pull-right">
		                    <a href="#" class="pad-rgt"><i class="ti-facebook icon-lg text-primary"></i></a>
		                    <a href="#" class="pad-rgt"><i class="ti-twitter-alt icon-lg text-info"></i></a>
		                    <a href="#" class="pad-rgt"><i class="ti-google icon-lg text-danger"></i></a>
		                </div>
		                <div class="media-body text-left">
		                    Login with
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
		<!--===================================================-->
		
		
		
    </div>
    <!--===================================================-->
    <!-- END OF CONTAINER -->

    <script type="text/javascript" src="/static/js/register.js"></script>
    </body>
</html>
