<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="/static/common/js/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>用户注册</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    <div><label>用户名</label><input id="username" name="username" type="text"></div>
    <div><label >手机号</label><input onblur="GetVerityImage(event)" id="regPhone" name="phone" type="text"> </div>
    <div><label>密码</label><input name="password" type="password"></div>
    <div>验证图片<span id="imageVerifyLink"></span><input type="imagVerifyCode" placeholder="请先填入图片验证码"></div>
    <div><label>短信验证码</label><input name="verifyCode" type="text"><input type="button" value="获取短信验证码" disabled></div>
    <div><input type="submit" value="提交"></div>
</form>
</body>
<script>
    function GetVerityImage(event){
        event = event ? event: window.event;
        var obj = event.srcElement ? event.srcElement : event.target;
        var xhr = new XMLHttpRequest();
        xhr.open("post", "/v1/api/genVerifyImage/", true);
        xhr.responseType = "blob";
        xhr.onload = function(){
            if (this.status == 200){
                var blob = this.response;
                var img = document.createElement("img");
                img.onload = function(e){
                    window.URL.revokeObjectURL(img.src);
                };
                img.src = window.URL.createObjectURL(blob);
                var ele = document.getElementById("imageVerifyLink");
                ele.onclick=GetVerityImage;

                while(ele.lastChild){
                    ele.removeChild(ele.firstChild);
                }
                ele.appendChild(img);
            }
        };
        xhr.send();
    }




</script>
</html>