<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="/static/common/js/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>用户注册</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    <div><label>用户名</label><input id="username" name="username" type="text"></div>
    <div><label >手机号</label><input onblur="GetVerityImage(event)" id="regPhone" name="phone" type="text"> </div>
    <div><label>密码</label><input name="password" type="password"></div>
    <div>验证图片<span id="imageVerifyLink"></span><input id="imgVerifyCode" type="imagVerifyCode" placeholder="请先填入图片验证码"></div>
    <div><label>短信验证码</label><input id="smsVerityCode" name="verifyCode" type="text"><button onclick="getSmsCode(this)" type="button" >获取短信验证码</button></div>
    <div><input type="submit" value="提交"></div>
</form>
</body>
<script>
    function GetVerityImage(event){
        event = event ? event: window.event;
        var obj = event.srcElement ? event.srcElement : event.target;
        var xhr = new XMLHttpRequest();
        var phone = document.getElementById("regPhone").value;
        var csrf_token = document.getElementsByName("csrfmiddlewaretoken")[0].value;
        var post_url =  "/v1/api/genVerifyImage/" + "?phone=" + phone + "&" + "csrfmiddlewaretoken" + "=" + csrf_token;
        xhr.open("get", post_url, true);

        // post方法请求时,需要指定以下设置
        // xhr.setRequestHeader("Content-type","application/x-www-form-urlencoded");
        xhr.responseType = "blob";
        xhr.onload = function(){
            if (this.status == 200){
                var blob = this.response;
                var img = document.createElement("img");
                img.onload = function(e){
                    window.URL.revokeObjectURL(img.src);
                };
                img.src = window.URL.createObjectURL(blob);
                var ele = document.getElementById("imageVerifyLink");
                ele.onclick=GetVerityImage;

                while(ele.lastChild){
                    ele.removeChild(ele.firstChild);
                }
                ele.appendChild(img);
            }
        };

        // post请求
        /***
        if(phone.length> 0 & csrf_token.length>0 ){
            var req_string = "phone=" + phone + "&" + "csrfmiddlewaretoken" + "=" + csrf_token；
            xhr.send(req_string);
        }
         ***/

        // get请求
        if(phone.length> 0 ){
            // post请求
            /***
            var req_string = "phone=" + phone + "&" + "csrfmiddlewaretoken" + "=" + csrf_token;
            xhr.send(req_string);
             ***/
             xhr.send();
        }


    }


    // 获取短信验证码
    function getSmsCode(ele){
        var regPhone = $("#regPhone").val();
        var imgVerifyCode = $("#imgVerifyCode").val();
        var ele = ele;
        $.ajax({
            url: "/v1/api/smsVerifyCode/",
            method:"GET",
            datatype:"json",
            data: {"phone": regPhone, "imgVerifyCode": imgVerifyCode},
            success: function(data){
{#                $(ele).attr("disabled", "disabled");#}
                console.log(data);
            }
        })
    }



</script>
</html>